#newTrip{
    margin-top: 90px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-color: white;
    font-size: 32px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

#newTrip div button{
    font-size: 32px;
    margin:20px;
    height:60%;
    width:60%;
    background-color: white;
    color:black;
}

#main{
    margin-top: 30px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    background-color: white;
    font-size: 32px;
}

#newTripMain{
    display: grid;
    grid-template-columns:33% 34% 33%;
}

#specs{
    display: grid;
    grid-template-columns: 50% 50%;
}

#specs label,input{
    font-size: 22px;
    margin:10px;
}

.invite label,input{
    font-size: 22px;
    margin:10px;
}

h2{
    font-size: 32px;
}

#buttons{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
}
#buttons button{
    width:80%;
}

#cancel{
    background-color: red;
}

#create{
    background-color: green;
}

#allTrips{
    display: grid;
    grid-template-columns: 50% 50%;
}

.trip{
    border: 3px solid black;
    margin: 20px;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 50% 50%;
}

.trip button{
    margin:15px;
}

.edit{
    background-color: yellow;
}

.remove{
    background-color: red;
}

#EDIT{
    display: grid;
    grid-template-columns: 50% 50%;
}



#left, #right{
    margin:15px;
    padding: 15px;
    background-color: white;
    
}




#noFriends{
    min-height: 400px;
}

.title{
    font-size: larger;
    margin-bottom: 10px;
}

.alterFriend{
    padding: 5px;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 60% 20% 20%;
}

.alterFriend button{
    margin: 5px;
}

.addP{
    background-color: green;
}

.removeP{
    background-color: red;
}

.person{
    display: grid;
    grid-template-columns: 40% 30% 30%;
}

#newFinancialEntry label, div{
    font-size: 20px;
}

#tripOptions{
    display: grid;
    grid-template-columns: 50% 50%;
}

#tripOptions button{
    margin:25px;
    font-size: 24px;
}

#complete{
    background-color: blue;
}

#back{
    background-color: red;
}

#newEvent{
    display: grid;
    grid-template-columns: 50% 50%;
}

